<ion-header >
  <ion-toolbar >
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <!-- <img  (click)="modificarImg()" src="../../assets/kisspng-tinder-computer-icons-tinder-5b47ead292ba08.364455671531439826601.jpg"> -->
  
  <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
    <ion-item>
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Name:</ion-label>
      <ion-input formControlName="name" type="text" [(ngModel)]="user.name"></ion-input>
      
      <ion-icon name="people-circle"></ion-icon>
      <ion-label>Last name:</ion-label>
      <ion-input formControlName="last_name" type="text" [(ngModel)]="user.last_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon  name="male-female"></ion-icon>
      <ion-label>Sexo:</ion-label>
      <ion-select  (ionChange) = "value_sexo($event)">
        <div *ngFor = "let sexo of data_sexo">
          <ion-select-option [value]="sexo" >{{sexo}}</ion-select-option>
        </div>
      </ion-select>

      <ion-icon name="speedometer"></ion-icon>
      <ion-label>Age:</ion-label>
      <ion-input formControlName="age" type="number" [(ngModel)]="user.age"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="at" item-start></ion-icon>
      <ion-label>Email:</ion-label>
      <ion-input formControlName="email" type="email" [(ngModel)]="user.email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="key" item-start></ion-icon>
      <ion-label>Password:</ion-label>
      <ion-input formControlName="password" type="password" [(ngModel)]="user.password"></ion-input>
    </ion-item>

    <ion-icon class="tinder-icon"  src = "../../assets/iconoTinder.svg" ></ion-icon>
    <div class="space">
      <ion-button type="submit">Register</ion-button>
      <ion-button routerLink="/login">Login</ion-button>
    </div>
  </form>
</ion-content>