ion-icon{
    margin-right: 15px;
    --background: 'black'
}

ion-select{
    margin-right: 20px;
    width: 100px;
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    margin-block-start: 20px;
    margin-block-end: 10px;
    display: block;
}

.space{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
}

ion-button{
    --color: #ffffff;
    --background: #f02f17;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

ion-toolbar{
    --color: #ffffff;
    --background: linear-gradient(150deg,#f02f17 , #ffa200b0 61%)
}

ion-content{
    --background: linear-gradient(0,#ffb84dc9, #ffffff 69%)
}

ion-item {
    --background: none;
}

// .tinder-icon{
//     width: 100px;
//     height: 100px;
//     margin: 0 auto;
//     display: block;
//     margin-bottom: 50px;
//     margin-top: 50px;
//     --background-focused: #F7409E;
//     --color-selected: #F7409E;
// }

