ion-icon{
    margin-right: 15px;
}

ion-select{
    margin-right: 20px;
    width: 125px;
    text-align: center;
}

.space{
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 20px;
}

ion-button{
    background: 'red' !important;
}
