<ion-content padding>

  <ng-container *ngIf="image; else img_default">
    <img  (click)="modificarImg()" [src] = "image">
  </ng-container>
  <ng-template #img_default>
    <img (click)="modificarImg()" src = "../../../assets/image/user-default.png" >
  </ng-template>
  
  <form (ngSubmit)="onRegister()" [formGroup]="registerForm">
      <ion-input placeholder="Nombre"  formControlName="name" type="text" [(ngModel)]="user.name"></ion-input>
      
      <ion-input placeholder="Apellido"  formControlName="last_name" type="text" [(ngModel)]="user.last_name"></ion-input>
      
      <div class="content_select">
        <ion-label>Sexo</ion-label>
        <ion-select  (ionChange) = "value_sexo($event)">
          <div *ngFor = "let sexo of data_sexo">
            <ion-select-option [value]="sexo" >{{sexo}}</ion-select-option>
          </div>
        </ion-select>
       </div>

      <ion-input placeholder="Edad"  formControlName="age" type="number" [(ngModel)]="user.age"></ion-input>
      
      <ion-input placeholder="Email"  formControlName="email" type="email" [(ngModel)]="user.email"></ion-input>
      
      <ion-input placeholder="Password"  formControlName="password" type="password" [(ngModel)]="user.password"></ion-input>

    <div class="space">
      <ion-button type="submit">
        <ion-icon name="create"></ion-icon>
        REGISTRAR
      </ion-button>
      <ion-button class="botontwo" routerLink="/login">
        <ion-icon name="enter"></ion-icon> 
        INICIAR SESION
      </ion-button>
    </div>
  </form>
</ion-content>