ion-grid {
    padding-top: 7px;
}

ion-col{
    padding: 0;
    margin: 0;
}

ion-card {
    width: 100px;
    height: 145px;
    border-radius: 10px;
    border-style: dotted;
    border-width: 2px;
    background-color: #CCCECC;
}

.imagen {
    width: 100%;
    height: 100%
}

.boton {

    --background:  #ffffff24;
    --border-radius: 10px;
    width: 70%;
    margin: 0 auto;
    display: block;
}

ion-content {
    --background: linear-gradient(  0, #8c3754, #9e9e9e54 79% );
}




