<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <img  [routerLink]="['/perfil']" src="../../assets/kisspng-tinder-computer-icons-tinder-5b47ead292ba08.364455671531439826601.jpg">
    <h1>Tinder, 20</h1>

    <div class="btn_content">
      <div class="btn">
        <ion-fab-button class="btn_camara">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        <h6>Añadir Archivos </h6>
      </div>

      <div>
        <ion-fab-button class="btn_pen" [routerLink]="['/perfil']">
          <ion-icon name="pencil"></ion-icon>
        </ion-fab-button>
        <h6>Editar Perfil</h6>
      </div>
    </div>

    <div class="curva"></div>

  </div>
</ion-content>
