<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="content">
    <ng-container *ngIf="image; else img_default">
      <img  [src]="image">
    </ng-container>
    <ng-template #img_default>
      <img  src="../../../assets/image/user-default.png" >
    </ng-template>
   
    <ng-container *ngIf="obj_user; else TemplateVacio">
      <h1>{{obj_user.name}},{{obj_user.age}}</h1>
    </ng-container>
    <ng-template #TemplateVacio>
      <h1>pablo,20</h1>
    </ng-template>

    <div class="btn_content">

      <div class="btn">
        <ion-fab-button class="btn_cerrar" (click)="signOut()">
          <ion-icon name="log-out"></ion-icon>
        </ion-fab-button>
        <h6>Cerrar Sesion</h6>
      </div>
      
      <div class="btn">
        <ion-fab-button class="btn_camara" [routerLink]="['/pic']">
          <ion-icon name="camera"></ion-icon>
        </ion-fab-button>
        <h6>Añadir Archivos </h6>
      </div>

      <div class="btn">
        <ion-fab-button class="btn_pen" [routerLink]="['/perfil']">
          <ion-icon name="pencil"></ion-icon>
        </ion-fab-button>
        <h6>Editar Perfil</h6>
      </div>

      
    </div>

    <div class="curva"></div>

  </div>
</ion-content>
