<ion-item lines = "none">

  <ion-icon name="arrow-back" (click) = "goBack()"></ion-icon>

  <ion-grid>
    <ion-row>
      <ion-col class="progress" *ngFor = "let story of stories_user; let index = index">
        <div class="seen" [hidden] = "index >= currentIndex"></div>
        <div #divv class="divv" *ngIf = "currentIndex == index" >

        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-avatar>
          <img [src] = "user?.imagen" />
        </ion-avatar>      
      </ion-col>
      <ion-col  class="columna">
        <h2>{{ user.name }}</h2>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-item>

<ion-content class="contenido">

  <ion-slides (ionSlideWillChange) = "ionSlideWillChange($event)"  >
    <ion-slide *ngFor = "let story of stories_user ">
    
      <div class="imagen-div">
        <img [src] = "story.url" class="imagen_story" />     
      </div>
            
    </ion-slide>
  </ion-slides>

</ion-content>
