.label{
    padding-left: 22px;
    font-size: 15px;
    font-family: sans-serif;
}

ion-input{
    text-align: center;
    margin-right: 20px;
    --font-size: 15px;
    --font-family: sans-serif;
    color: white;
}

ion-label{
    color: white;
    padding: 10px;
}

ion-select{
    margin-right: 20px;
    width: 100px;
    text-align: center;
    color: white;
}

.content_select{
    border-radius: 60px 60px 60px 60px;
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
}

ion-item {
    --background: none;
}

ion-button{
    margin-top: 30px;
}

ion-back-button{
    --background-focused: #F7409E;
}


img{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin: 0 auto;
    margin-block-start: 20px;
    margin-block-end: 10px;
    display: block;
}

ion-button{
    --background:  #ffffff24;
    margin: 0 auto;
    display: block;
    margin-top: 60px;
    width: 90%;
    --border-radius: 60px 60px 60px 60px;
}

ion-content {
    --background: 
    linear-gradient(  0, #8c3754, #9e9e9e54 79% );
}

ion-input{
    border-radius: 60px 60px 60px 60px;
    border: 1px solid white;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    --placeholder-color: white;
    --placeholder-opacity: 1.5;
    color: white;
}
  