<ion-content [fullscreen]="true">


  <sw-card-wrapper #cardWrapper>
    <div class="card" *ngFor="let person of people, let index = index"
         [class.visible]="person.visible" [class.hidden]="!person.visible"
         swSwipeable
         [width]="350"
         [height]="500"
         [orientation]="'x'"
         (swiped)="swiped($event, index)">
      <img [src]="person.image" [alt]="person.name">
      <h2>{{person.name}}, {{person.age}}</h2>
    </div>
  </sw-card-wrapper>

  <h1>{{ token }}</h1>
 
  <div class = "button_box">


    <ion-button class = "boton" shape = "round" fill = "outline" >

      <ion-icon color = "danger" name = "close"></ion-icon>

    </ion-button>

      

    <ion-button class = "boton" shape = "round" fill = "outline" >

      <ion-icon color = "success" name = "heart"></ion-icon>

    </ion-button>

    


  </div>

</ion-content>
