ion-toolbar {
    --color: #ffffff;
    --background:#5a0069;
}

ion-title {
    text-align: center;
}

ion-button {
    --background:  #ffffff24;
    --border-radius: 10px;
}

ion-label{
    --color: #ffffff;
}

.botonone {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 40%;
}

.botontwo {
    width: 70%;
    margin: 0 auto;
    display: block;
    margin-top: 10%;
}

ion-content {
    --background: 
    linear-gradient(  0,#8c3754, #9e9e9e54 79% ), 
    url(../../../assets/image/arbol-rio.jpg);
    height: 100%;
    width: 100%;
}

.imagen {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    display: block;
    margin-top: 20%;
}

ion-item {
    --background: none;
}










