<ion-content padding>

  <ion-icon src="../../../assets/iconoTinder.svg" class="imagen"></ion-icon>

  <form (ngSubmit)="onLogin($event)">
    
    <ion-input placeholder = "Correo" type = "text" [(ngModel)] = "user.email" name = "user" class="inputone" ></ion-input>
    
    <ion-input placeholder = "Contraseña" type = "password" [(ngModel)] = "user.password" name = "password" class="inputtwo" ></ion-input>

    <ion-button type = "submit" class="botonone" >
      <ion-icon name="enter"></ion-icon> 
         Iniciar Sesion
    </ion-button>
    <ion-button routerLink="/register" class="botontwo">
      <ion-icon name="create"></ion-icon>
        Registrarse
    </ion-button>
</form>
</ion-content>
