.aviso {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

ion-toolbar{
  --background: linear-gradient(150deg,#e20c55 15%, #9e9e9e54 84% );
}