<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <super-tabs>

  <super-tabs-toolbar slot="top" class="color-toolbar">
    <super-tab-button>
      <ion-label>Mensajes</ion-label>

    </super-tab-button>
    <div class="verticalLine"></div>

    <super-tab-button>
      <ion-label>Historias</ion-label>

    </super-tab-button>  
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab>
      <ion-content>
        <div>
          <ion-label color = "danger" class="label" >Chats Sin Abrir</ion-label>
          <div class="stories">
            <div *ngFor = "let gen of gente, let index = index" class="space">
              <div *ngIf = "gen.view == false" >
                <img class="avatar" [src] = "gen.imagen" (click) = "goToAnother(gen.id_Match, index)"/>
                <ion-label class="name">{{gen.name}}</ion-label>
              </div>
            </div>    
          </div> 
        </div>
    
        <div *ngIf = "anyone != null else nopeople" >
          <ion-label color = "danger" class="mensajelabel">Mensajes</ion-label>
        
        <div *ngFor = "let gen of gente, let index = index">
          <div *ngIf = "gen.view" class="position">
            <ion-item lines = "none" class="itemlines"  [routerLink] = "['/chat', gen.id_Match]">
              <img class="image-item" [src] = "gen.imagen"  />
              <div>
                <span class="nombre">{{gen.name}}</span>

                <ng-container *ngIf = "lastMessague[index]?.text.includes('https://firebasestorage.googleapis.com'); else texto">

                  <ng-container *ngIf = "lastMessague[index]?.idUser === user_login.id; else other">

                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-icon class="iconosend" name="arrow-redo-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                  <ion-label class="labellast">imagen</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-container>
                  <ng-template #other>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-icon name="arrow-undo-outline"></ion-icon>                        
                        </ion-col>
                        <ion-col>
                          <ion-label class="labellast">imagen</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-template>

          
                </ng-container>
          
                <ng-template #texto>

                  <ng-container *ngIf = "lastMessague[index]?.idUser === user_login.id; else other">

                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-icon class="iconosend" name="arrow-redo-outline"></ion-icon>
                        </ion-col>
                        <ion-col>
                          <ion-label class="labellast">{{ lastMessague[index]?.text }}</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-container>
                  <ng-template #other>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-icon name="arrow-undo-outline"></ion-icon>                        
                        </ion-col>
                        <ion-col>
                          <ion-label class="labellast">{{ lastMessague[index]?.text }}</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-template>
                </ng-template>

              </div> 
             
            </ion-item>
          </div>
      </div>
        </div>
    
        <ng-template #nopeople>
          <ion-label color = "danger" class="mensajelabel">Mensajes</ion-label>
          <h1 class="not-init">No has iniciado ninguna conversacion</h1>
        </ng-template>      
      </ion-content>
    </super-tab>
    <super-tab>
      
      <ion-content>
        <h1>Aqui iran las historias</h1>
      </ion-content>
    </super-tab>
  </super-tabs-container>


  </super-tabs>

    
    
    





</ion-content>