<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

<super-tabs>

  <super-tabs-toolbar slot="top" class="color-toolbar">
    <super-tab-button>
      <ion-label>Mensajes</ion-label>

    </super-tab-button>
    <div class="verticalLine"></div>

    <super-tab-button>
      <ion-label>Historias</ion-label>

    </super-tab-button>  
  </super-tabs-toolbar>

  <super-tabs-container>
    <super-tab>
      <ion-content>
        <div>
          <ion-label color = "danger" class="label" >Chats Sin Abrir</ion-label>
          <div class="stories">
            <div *ngFor = "let gen of gente, let index = index" class="space">
              <div *ngIf = "gen.view == false" >
                <img class="avatar" [src] = "gen.imagen" (click) = "goToAnother(gen.id_Match, index)"/>
                <ion-label class="name">{{gen.name}}  {{gen.last_name}}</ion-label>
              </div>
            </div>    
          </div> 
        </div>
    
        <div *ngIf = "anyone != null else nopeople" >
          <ion-label color = "danger" class="mensajelabel">Mensajes</ion-label>
        
        <div *ngFor = "let gen of gente, let index = index">
          <div *ngIf = "gen.view" class="position">
            <ion-item lines = "none" class="itemlines"  [routerLink] = "['/chat', gen.id_Match]">
              <img class="image-item" [src] = "gen.imagen"  />
              <div class="user">
                <span class="nombre">{{gen.name}}  {{gen.last_name}}</span>

                <ng-container *ngIf = "lastMessague[index]?.text.includes('https://firebasestorage.googleapis.com'); else texto">

                  <ng-container *ngIf = "lastMessague[index]?.idUser === user_login.id; else other">
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-icon class="iconosend" name="arrow-redo"></ion-icon>
                        </ion-col>
                        <ion-col>
                          <ion-label class="labellast">imagen</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-container>

                  <ng-template #other>
                    <ion-grid>
                      <ion-row>
                        <ion-col>
                          <ion-icon name="arrow-undo"></ion-icon>                        
                        </ion-col>
                        <ion-col>
                          <ion-label class="labellast">imagen</ion-label>
                        </ion-col>
                      </ion-row>
                    </ion-grid>
                  </ng-template>
          
                </ng-container>
          
                <ng-template #texto>

                  <ng-container *ngIf = "lastMessague[0] != undefined; else nulo">

                    <ng-container *ngIf = "lastMessague[index]?.idUser === user_login.id; else other">
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                            <ion-icon class="iconosend" name="arrow-redo"></ion-icon>
                          </ion-col>
                          <ion-col>
                            <ion-label class="labellast">{{ lastMessague[index]?.text }}</ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ng-container>

                    <ng-template #other>
                      <ion-grid>
                        <ion-row>
                          <ion-col>
                            <ion-icon name="arrow-undo"></ion-icon>                        
                          </ion-col>
                          <ion-col>
                            <ion-label class="labellast">{{ lastMessague[index]?.text }}</ion-label>
                          </ion-col>
                        </ion-row>
                      </ion-grid>
                    </ng-template>
            
                  </ng-container>

                  <ng-template #nulo>
                    <ion-label class="labellast">{{ lastMessague[index]?.text }}</ion-label>
                  </ng-template>

                </ng-template>
              </div> 
            </ion-item>
          </div>
        </div>
        </div>
    
        <ng-template #nopeople>
          <ion-label color = "danger" class="mensajelabel">Mensajes</ion-label>
          <div class="content_not_message">
            <img class="not-img" src="../../../assets/image/card-like.png">
            <h1 class="not-h1">Empezar a dar Likes</h1>
            <h6 class="not-h6" >Al hacer match con otras personas, apareceran aqui para que puedas enviarles un mensaje</h6>
          </div>
        </ng-template>      
      </ion-content>
    </super-tab>

    <super-tab>
      <ion-content>
          <ion-item (click) = "obtenerMisHistorias()">
            <ion-grid>
               <ion-row>
                 <ion-col>
                  <ion-avatar>
                    <img [src] =  "this.user_pic?.url" class="imagen-user">
                  </ion-avatar>                 
                </ion-col>
                 <ion-col class="nombre-user">
                    <h2>Mi estado</h2>
                 </ion-col>
                </ion-row>
               </ion-grid>
          </ion-item>
          
          <ion-item class="recientes" color = "light"  >
            <ion-label>Historias</ion-label>
          </ion-item>

          <ion-item *ngFor = "let usuario of user_match_stories" (click) = "verHistoria(usuario)">
            <ion-grid>
              <ion-row>
                <ion-col>
                 <ion-avatar>
                   <img [src] =  "usuario.imagen" class="imagen-user">
                 </ion-avatar>                 
               </ion-col>
                <ion-col class="nombre-user">
                   <h2>{{usuario.name}}</h2>
                </ion-col>
               </ion-row>
              </ion-grid>
          </ion-item>

          <div class="content_his_message">
            <img class="his-img" src="../../../assets/image/historia.png">
            <h1 class="his-h1">Regresa mas tarde</h1>
            <h6 class="his-h6">No encontramos actividad social reciente de tus matches. Intentalo de nuevo mas tarde.</h6>
          </div>

          <ion-fab vertical = "bottom" horizontal = "end" slot="fixed" (click) = "subirHistoria()" >
            <ion-fab-button color = "danger">
              <ion-icon name="camera-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab>

      </ion-content>
    </super-tab>

  </super-tabs-container>

  </super-tabs>
</ion-content>