.image-item {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    margin: 0 auto;
    margin-block-start: 20px;
    margin-block-end: 10px;
    display: block;
    margin: 3%;
    position: relative;
  }

.nombre {
    padding-left: 5%;
  }

.itemlines{
    border-bottom: 2px solid black;
  }


// ion-item {
//   --min-height: 55px;
// }

.item-chat {
  min-height: 14%;
}

.badge-user {
  border-radius: 6px 0 6px 6px;
  padding: 14px;
  margin: 1%;
}

.badge-other {
  border-radius: 0 6px 6px 6px;
  padding: 15px;
  margin: 1%;
}

.label-time {
  position: relative;
  font-size: 10px;
  left: 50%;
  margin-top: 1%
}